[user]
	email = throne3d@gmail.com
	name = Edward Jones
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
	editor = nano
[credential]
	helper = cache
[color]
	ui = auto
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[pull]
	rebase = true
